.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.totals .totals--content {
  font-size: 16px;
  font-weight: 400;
}

.transaction {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 5px 5px 31px 5px rgba(0, 0, 0, 0.09);
}

.transaction p {
  padding: 0;
  margin: 0;
}
